@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
:root {
	/* Colors */
	--color-bg: hsl(30, 38%, 92%);
	--color-card-bg: hsl(0, 0%, 100%);
	--color-btn: hsl(158, 36%, 37%);
	--color-btn-hover: hsl(158, 42%, 18%);
	--color-title: hsl(212, 21%, 14%);
	--color-txt: hsl(228, 12%, 48%);
	/* Fonts */
	--font-headings: "Fraunces", serif;
	--font-body: "Montserrat", sans-serif;
	--font-weight-regular: 500;
	--font-weight-bold: 700;
	--font-size-base: 0.875rem;
}

body {
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-regular);
	color: var(--color-txt);
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	padding: 20px;
	overflow-x: hidden;
}
.card {
	width: 100%;
	background-color: var(--color-card-bg);
	border-radius: 10px;
}
.mobile-image > img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.desktop-image > img {
	display: none;
}
.details-txt {
	padding: 20px;
}
.category-name {
	letter-spacing: 5px;
}
h1 {
	color: var(--color-title);
	font-family: var(--font-headings);
	font-size: 2rem;
	max-width: 300px;
}
.description > p {
	line-height: 1.6;
	margin: 0;
}
.price {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
.offered-price {
	color: var(--color-btn);
	font-family: var(--font-headings);
	font-size: 1.8rem;
}
.original-price {
	text-decoration: line-through;
	font-size: 1rem;
}

.btn {
	width: 100%;
	border-radius: 10px;
	background-color: var(--color-btn);
	color: var(--color-card-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	padding: 10px 0;
	font-family: var(--font-weight-bold);
	font-size: 1rem;
}
.btn:hover {
	background-color: var(--color-btn-hover);
}

@media (min-width: 480px) {
	body {
		margin: auto;
		min-height: 100vh;
	}
	.card {
		display: flex;
		flex-direction: row;
		max-width: 600px;
	}
	.mobile-image > img {
		display: none;
	}
	.desktop-image > img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.desktop-image,
	.details {
		flex: 1;
	}
	h1 {
		max-width: 200px;
	}
	.description > p {
		max-width: 230px;
	}
}
